.button{
    background-color: #404040;
}

.container_example{
    margin: 0px;
    width: 400px;
    position: absolute;
    right: 310px;
    top: 25px;
    transform: translate(150px,100px);
    padding: 10px;
    display: flex;
}

.container_2{
    margin: 0px;
    width: 400px;
    position: relative;
    transform: translate(150px,100px);
    padding: 10px;
    display: flex;
}

.color_container {
    position: relative;
    transform: translate(900px,-300px);
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.color-button{
    width: 40px;
    height: 40px;
}

