.button{
    background-color: #404040;
}

.Return_MainPage{
    background-color: white;
    margin-left: 5%;
    height: 50px;
    transition: all 0.3s;
    padding: 5px 30px;
    border: 2px solid #181818;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    transform: translate(-200px,20px);
    transition: all 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
}

.Return_MainPage:hover{
    background-color: #c23866;
    color: #fff;
    transform: translate(-200px,15px);
}

.container_lv2{
    margin: 0px;
    width: 600px;
    position: relative;
    transform: translate(270px,20px);
    padding: 10px;
    scale: 1.1;
    display: flex;
}
.home-button_1 {
    margin-top: 20px;
    padding: 5px 30px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: all 0.3s;
    margin-left: 0%;
    position: relative;
  }

  .home-button_1:hover{
    background-color: #c23866;
    color: white;
    transform: translate(0px,-5px);
  }

  .next-button_1{
    margin-top: 20px;
    padding: 5px 30px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: all 0.3s;
    margin-left: 0%;
    position: relative;
    transform: translate(20px);
  }

  .next-button_1:hover{
    background-color: #c23866;
    color: white;
    transform: translate(20px,-5px);
  }
  
.color_container_lv2 {
    position: relative;
    background-color: none;
    align-items: center;
    justify-content: center;
    transform: translate(0px,70px);
    width: 1000px;
    height: 210px;
    display: grid;
    padding-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.color-button{
    margin-left: 6px;
    width: 40px;
    height: 40px;
}
.selected{
  border: 2px solid #00f; /* 2px dashed blue outline */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.example_picture_lv2{
    margin: 0px;
    width: 400px;
    position: absolute;
    right: 310px;
    top: 25px;
    transform: translate(500px,0px);
    padding: 10px;
    display: flex;
    scale: 0.7;
    border: 3px solid #181818; 
    border-radius: 20px;
}
.congrats-message_1 {
    font-size: 28px;
    color: #ff4500;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    margin-top: 20px;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
    border-radius: 15px;
    animation: bounce 1s;
  }