.MainPage{
    position: relative;
    transform: translateY(100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.frame1{
    margin: 40px;
    position: relative;
    transform: translate();
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 40px;
}

.frame2{
    margin: 40px;
    position: relative;
    transform: translate();
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 40px;
}

.frame3{
    margin: 40px;
    position: relative;
    transform: translate();
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 40px;
}

.frame{
    width: 320px;
    height: 320px;
}

.example_pic{
    position: relative;
    transform: translate(-70px,-50px);
    scale: 0.6;
}