.App {
  height: 300px;
  max-width: 1000px;
  margin: 0 auto;
}

.button_color{
  position: relative;
  transform: translate(0px,-300px);
}

.flower-img{
  position: relative;
  transform: translate(550px,100px);
}

.timer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.container_example_1{
    margin: 0px;
    width: 400px;
    position: absolute;
    right: 350px;
    bottom: 135px;
    transform: translate(150px,100px);
    padding: 10px;
    scale: 1.1;
    display: flex;
}
.Board {
  max-width: 900px;
  margin-top: -30px;
  background: lightblue;
  border-radius: 9px;
  padding: 30px;
  position: absolute;
  left: 10%;
  transform: translate(-50%, 0);
  transform: scale(0.8); /* Tăng kích thước lên 1.2 lần */

}

.timer{
  margin-top: 25px;
}
.button_color{
  margin-top: 450px;
  background: #C2FCD9;
}
.picture {
  padding: 230px;
  height: 430px;
  position: relative;
  background: #ffffff;
  border-radius: 9px;
  text-align: center;
}

.center {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 41%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.center-active {
  background: lightpink;
  color: lightpink;
}

.petal {
  height: 150px;
  width: 80px;
  display: inline-block;
  position: absolute;
  border: 2px solid black;
  border-radius: 120% 120% 100% 100%;
  background: white;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.petal-one {
  bottom: 62%;
}

.petal-two {
  transform: rotate(60deg);
  right: 28%;
  bottom: 48%;
}

.petal-three {
  transform: rotate(120deg);
  right: 28%;
  bottom: 23%;
}

.petal-four {
  transform: rotate(180deg);
  bottom: 9%;
}

.petal-five {
  transform: rotate(240deg);
  left: 28%;
  bottom: 23%;
}

.petal-six {
  transform: rotate(300deg);
  left: 28%;
  bottom: 48%;
}

.petal-one-active {
  background: red;
  color: red;
}

.petal-two-active {
  background: orange;
  color: orange;
}

.petal-three-active {
  background: yellow;
  color: yellow;
}

.petal-four-active {
  background: green;
  color: green;
}

.petal-five-active {
  background: blue;
  color: blue;
}

.petal-six-active {
  background: purple;
  color: purple;
}

.palette {
  padding: 135px 258px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 16px;
}
.palette_1 {
  padding: 40px 40px;
  background: #C2FCD9;
  border-radius: 9px;
  font-weight: bold;
  font-size: 16px;
}


.palette-color {
  border: 4px solid white;
  padding: 20px 28px;
  border-radius: 50%;
}

.palette-color:hover {
  border: 4px solid blueviolet;
}

.palette-red {
  background: red;
}

.palette-orange {
  background: orange;
}

.palette-yellow {
  background: yellow;
}

.palette-green {
  background: green;
}

.palette-blue {
  background: blue;
}


.palette-purple {
  background: purple;
}

.palette-pink {
  background: lightpink;
}

.home-button {
  margin-top: 20px;
  padding: 5px 30px;
  background-color: #ffd700;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  color: #ff4500;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-family: "Comic Sans MS", cursive, sans-serif;
  transition: all 0.3s;
  margin-left: 35px;
}
.next-button{
  margin-top: 20px;
  padding: 5px 30px;
  background-color: #ffd700;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  color: #ff4500;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-family: "Comic Sans MS", cursive, sans-serif;
  transition: all 0.3s;
  margin-right: 50px;
}

.home-button:hover {
  background-color: #ffc700;
  transform: translateY(-5px);
}

.home-button:focus {
  outline: none;
}

footer {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 2%;
  font-family: monospace;
}

.congrats-message {
  font-size: 28px;
  color: #ff4500;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px #000000;
  background: #ffd700;
  padding: 10px;
  border-radius: 15px;
  animation: bounce 1s;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.start-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Added positioning context */
  top: 50%;
  left: 50%; /* Added horizontal positioning */
  transform: translate(-50%, -50%); /* Corrected syntax for transform */
  align-items: center;
  background-color: #C2FCD9;
  font-size: 18px;
  color: #ff4500;
  font-family: "Comic Sans MS", cursive, sans-serif; /* Separated font values with commas */
}

.start-button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #ffd700;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.start-button:hover {
  background-color: #ffc700;
  transform: translateY(-5px);
}

@keyframes blink-green {
  0%,
  100% {
    background-color: rgb(255, 0, 0);
  }
  50% {
    background-color: transparent;
  }
}

.petal-green-blink {
  animation: blink-green 1s infinite;
}
.div-below-active {
  animation: blink-green 1s infinite;
}
@media (max-width: 992px) {
  .Board {
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .picture {
    height: auto;
  }

  .petal {
    height: 120px;
    width: 65px;
  }

  .center {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 768px) {
  .Board {
    width: 100%;
    padding: 20px;
  }

  .palette {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .palette-color {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .timer {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .start-button {
    font-size: 20px;
    padding: 15px 30px;
  }
}

.color-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  cursor: pointer;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container_1 {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  /* Maroon Shades */
.color-button-maroon {
  background-color: maroon;
}

/* Brown Shades */
.color-button-brown {
  background-color: brown;
}

/* Crimson Shades */
.color-button-crimson {
  background-color: crimson;
}

/* Red Shades */
.color-button-red {
  background-color: red;
}

/* Tomato Shades */
.color-button-tomato {
  background-color: tomato;
}

/* Coral Shades */
.color-button-coral {
  background-color: coral;
}

/* Indian Red Shades */
.color-button-indianred {
  background-color: indianred;
}

/* Salmon Shades */
.color-button-salmon {
  background-color: salmon;
}

/* Orange Red Shades */
.color-button-orangered {
  background-color: orangered;
}

/* Dark Orange Shades */
.color-button-darkorange {
  background-color: darkorange;
}

/* Orange Shades */
.color-button-orange {
  background-color: orange;
}

/* Gold Shades */
.color-button-gold {
  background-color: gold;
}

/* Dark Goldenrod Shades */
.color-button-darkgoldenrod {
  background-color: darkgoldenrod;
}

/* Goldenrod Shades */
.color-button-goldenrod {
  background-color: goldenrod;
}

/* Dark Khaki Shades */
.color-button-darkkhaki {
  background-color: darkkhaki;
}

/* Khaki Shades */
.color-button-khaki {
  background-color: khaki;
}

/* Olive Shades */
.color-button-olive {
  background-color: olive;
}

/* Yellow Shades */
.color-button-yellow {
  background-color: yellow;
}

/* Yellow Green Shades */
.color-button-yellowgreen {
  background-color: yellowgreen;
}

/* Dark Olive Green Shades */
.color-button-darkolivegreen {
  background-color: darkolivegreen;
}

/* Olive Drab Shades */
.color-button-olivedrab {
  background-color: olivedrab;
}

/* Green Yellow Shades */
.color-button-greenyellow {
  background-color: greenyellow;
}

/* Dark Green Shades */
.color-button-darkgreen {
  background-color: darkgreen;
}

/* Green Shades */
.color-button-green {
  background-color: green;
}

/* Forest Green Shades */
.color-button-forestgreen {
  background-color: forestgreen;
}

/* Lime Shades */
.color-button-lime {
  background-color: lime;
}

/* Lime Green Shades */
.color-button-limegreen {
  background-color: limegreen;
}

/* Pale Green Shades */
.color-button-palegreen {
  background-color: palegreen;
}

/* Spring Green Shades */
.color-button-springgreen {
  background-color: springgreen;
}

/* Sea Green Shades */
.color-button-seagreen {
  background-color: seagreen;
}

/* Medium Aquamarine Shades */
.color-button-mediumaquamarine {
  background-color: mediumaquamarine;
}

/* Light Sea Green Shades */
.color-button-lightseagreen {
  background-color: lightseagreen;
}

/* Dark Slate Gray Shades */
.color-button-darkslategray {
  background-color: darkslategray;
}

/* Teal Shades */
.color-button-teal {
  background-color: teal;
}

/* Cyan Shades */
.color-button-cyan {
  background-color: cyan;
}

/* Dark Turquoise Shades */
.color-button-darkturquoise {
  background-color: darkturquoise;
}

/* Turquoise Shades */
.color-button-turquoise {
  background-color: turquoise;
}

/* Pale Turquoise Shades */
.color-button-paleturquoise {
  background-color: paleturquoise;
}

/* Aquamarine Shades */
.color-button-aquamarine {
  background-color: aquamarine;
}

/* Cadet Blue Shades */
.color-button-cadetblue {
  background-color: cadetblue;
}

/* Steel Blue Shades */
.color-button-steelblue {
  background-color: steelblue;
}

/* Cornflower Blue Shades */
.color-button-cornflowerblue {
  background-color: cornflowerblue;
}

/* Deep Sky Blue Shades */
.color-button-deepskyblue {
  background-color: deepskyblue;
}

/* Dodger Blue Shades */
.color-button-dodgerblue {
  background-color: dodgerblue;
}

/* Sky Blue Shades */
.color-button-skyblue {
  background-color: skyblue;
}

/* Light Sky Blue Shades */
.color-button-lightskyblue {
  background-color: lightskyblue;
}

/* Midnight Blue Shades */
.color-button-midnightblue {
  background-color: midnightblue;
}

/* Navy Shades */
.color-button-navy {
  background-color: navy;
}

/* Medium Blue Shades */
.color-button-mediumblue {
  background-color: mediumblue;
}

/* Blue Shades */
.color-button-blue {
  background-color: blue;
}

/* Royal Blue Shades */
.color-button-royalblue {
  background-color: royalblue;
}

/* Indigo Shades */
.color-button-indigo {
  background-color: indigo;
}

/* Dark Slate Blue Shades */
.color-button-darkslateblue {
  background-color: darkslateblue;
}

/* Medium Slate Blue Shades */
.color-button-mediumslateblue {
  background-color: mediumslateblue;
}

/* Medium Purple Shades */
.color-button-mediumpurple {
  background-color: mediumpurple;
}

/* Dark Magenta Shades */
.color-button-darkmagenta {
  background-color: darkmagenta;
}

/* Dark Violet Shades */
.color-button-darkviolet {
  background-color: darkviolet;
}

/* Medium Orchid Shades */
.color-button-mediumorchid {
  background-color: mediumorchid;
}

/* Purple Shades */
.color-button-purple {
  background-color: purple;
}

/* Thistle Shades */
.color-button-thistle {
  background-color: thistle;
}

/* Violet Shades */
.color-button-violet {
  background-color: violet;
}

/* Magenta Shades */
.color-button-magenta {
  background-color: magenta;
}

/* Medium Violet Red Shades */
.color-button-mediumvioletred {
  background-color: mediumvioletred;
}

/* Pale Violet Red Shades */
.color-button-palevioletred {
  background-color: palevioletred;
}

/* Deep Pink Shades */
.color-button-deeppink {
  background-color: deeppink;
}

/* Hot Pink Shades */
.color-button-hotpink {
  background-color: hotpink;
}

/* Pink Shades */
.color-button-pink {
  background-color: pink;
}

/* Beige Shades */
.color-button-beige {
  background-color: beige;
}

/* Bisque Shades */
.color-button-bisque {
  background-color: bisque;
}

/* Blanched Almond Shades */
.color-button-blanchedalmond {
  background-color: blanchedalmond;
}

/* Wheat Shades */
.color-button-wheat {
  background-color: wheat;
}

/* Lemon Chiffon Shades */
.color-button-lemonchiffon {
  background-color: lemonchiffon;
}

/* Light Yellow Shades */
.color-button-lightyellow {
  background-color: lightyellow;
}

/* Saddle Brown Shades */
.color-button-saddlebrown {
  background-color: saddlebrown;
}

/* Sienna Shades */
.color-button-sienna {
  background-color: sienna;
}

/* Chocolate Shades */
.color-button-chocolate {
  background-color: chocolate;
}

/* Peru Shades */
.color-button-peru {
  background-color: peru;
}

/* Sandy Brown Shades */
.color-button-sandybrown {
  background-color: sandybrown;
}

/* Burlywood Shades */
.color-button-burlywood {
  background-color: burlywood;
}

/* Tan Shades */
.color-button-tan {
  background-color: tan;
}

/* Rosy Brown Shades */
.color-button-rosybrown {
  background-color: rosybrown;
}

/* Moccasin Shades */
.color-button-moccasin {
  background-color: moccasin;
}

/* Peach Puff Shades */
.color-button-peachpuff {
  background-color: peachpuff;
}

/* Misty Rose Shades */
.color-button-mistyrose {
  background-color: mistyrose;
}

/* Linen Shades */
.color-button-linen {
  background-color: linen;
}

/* Light Steel Blue Shades */
.color-button-lightsteelblue {
  background-color: lightsteelblue;
}

/* Lavender Shades */
.color-button-lavender {
  background-color: lavender;
}

/* Honeydew Shades */
.color-button-honeydew {
  background-color: honeydew;
}

/* Azure Shades */
.color-button-azure {
  background-color: azure;
}

/* Snow Shades */
.color-button-snow {
  background-color: snow;
}

/* Black Shades */
.color-button-black {
  background-color: black;
}

/* Gray Shades */
.color-button-gray {
  background-color: gray;
}

/* Silver Shades */
.color-button-silver {
  background-color: silver;
}

/* Gainsboro Shades */
.color-button-gainsboro {
  background-color: gainsboro;
}

/* White Shades */
.color-button-white {
  background-color: white;
}